/* Default styles */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Media query for devices with a maximum width of 768px */
@media screen and (max-width: 768px) {
  .app {
    height: auto;
    padding: 1rem;
  }

  .app form {
    width: 100%;
  }

  .app .image-upload {
    height: 150px;
  }

  .app .qrcode {
    width: 100%;
  }
}
